@model WebAtividadeEntrevista.Models.BeneficiarioModel

@{
    Layout = "";
}

@Styles.Render("~/Content/css")
@Styles.Render("~/Content/jtable")

@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryui")
@Scripts.Render("~/bundles/jtable")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/jquery.maskedinput.min.js")
@Scripts.Render("~/bundles/beneficiarios");

@Styles.Render("~/Content/beneficiario.css")

<div class="modal-header">
    <h4 id="titulo">Beneficiários</h4>
</div>
<div class="modal-body">


    @using (Html.BeginForm(null, null, FormMethod.Post, new { name = "", id = "formCadastroBeneficiario" }))
    {
        @Html.AntiForgeryToken()

        <div class="row">


            <div class="col-md-4">
                <div class="form-group">
                    <label for="CPF">CPF:</label>
                    <input required="required" type="text" class="form-control" id="CPFBeneficiario" name="CPF" placeholder="Ex.: 010.011.111-00">
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label for="Nome">Nome:</label>
                    <input required="required" type="text" class="form-control" id="NomeBeneficiario" name="Nome" placeholder="Ex.: João" maxlength="50">
                </div>
            </div>


            <div class="col-md-2 col-centered">
                <div class="form-group">
                    <button type="submit" class="btn btn-success" id="btnIncluir">Incluir</button>
                </div>
            </div>
        </div>

        <div class="row">

            <table class="table table-striped table-hover" id="gridBeneficiarios" />

        </div>

    }

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
</div>

