@model WebAtividadeEntrevista.Models.ClienteModel
@{
    ViewBag.Title = "Cadastrar Cliente";
}
@section scripts{
    <script>
        var urlPost = '@Url.Action("Incluir", "Cliente", new { area = "" })';
        $('#btnBeneficiario').hide();
    </script>
    @Scripts.Render("~/bundles/clientes");
    @Scripts.Render("~/bundles/Funcoes");

 }
    <h2>@Html.Raw(ViewBag.Title)</h2>
    @Html.Partial("Forms")

